<section id="header">
  <h1>Julia's page</h1>
  <div class="links-section">
    <a href="#about-me">About me</a>
    <a href="#my-favorite-video">My favorite video</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
    <a href="#greetings">Greetings</a>
  </div>
</section>
<a id="toggle-links">Toggle links</a>
<hr>
<section id="about-me">
  <h3>About me</h3>
  <img src="img/Rachel_Ruysch_Blumenstilleben.jpg"></img>
  <!--<img src="http://www.kd-art.be/wp-content/uploads/2014/05/140303_KAST_TYR0032MR.jpg"></img>-->
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elit diam, vestibulum vel sollicitudin non, venenatis a lectus. Aliquam lectus metus, pulvinar non dolor eu, malesuada bibendum leo. Nunc mollis lorem eu urna molestie, in faucibus urna lobortis. Aenean metus libero, lacinia et risus at, laoreet molestie lorem. Sed eget justo quis ligula vehicula volutpat. Sed vitae sapien pharetra eros auctor aliquam vitae at purus. Nunc iaculis massa hendrerit nulla malesuada fringilla. Morbi non ligula tempor, gravida elit eget, ultrices est.

  <p>Donec pellentesque magna in imperdiet semper. Donec pretium turpis imperdiet neque porttitor, et suscipit odio tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam pharetra lacinia tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi congue rutrum elit, blandit viverra nibh dignissim ac. Aenean scelerisque libero felis, quis iaculis ex consequat nec.</p>

  <p>Phasellus sed velit ac odio elementum iaculis non id orci. Vestibulum non velit viverra, fermentum mi nec, tincidunt leo. Morbi non vulputate diam. Nullam eu nisi tempus urna egestas blandit nec in ipsum. Fusce aliquam metus et mi venenatis commodo. Suspendisse felis ex, finibus ac bibendum sit amet, rutrum eu tellus. Praesent bibendum lobortis arcu, blandit tincidunt turpis viverra vel. Curabitur velit magna, convallis eu condimentum nec, faucibus sollicitudin nisl. Aliquam semper fringilla suscipit. Duis tempor lectus nisi, id fermentum risus pellentesque ut. Phasellus eget neque sodales, viverra elit posuere, posuere nisi. Sed pretium orci in sapien condimentum dapibus. Morbi vel suscipit dui. Etiam vestibulum nisl enim, eu elementum mi feugiat tristique. Sed auctor erat quis sem consequat placerat.</p>

  <p>Sed sit amet libero eu ipsum fermentum viverra et at neque. Aliquam erat volutpat. Pellentesque bibendum in est ac viverra. Integer ut massa in turpis mattis egestas sit amet vitae orci. Praesent ultricies consequat libero, a pellentesque massa lobortis feugiat. Suspendisse sit amet dolor finibus, faucibus arcu id, rhoncus purus. Nulla quam mauris, eleifend vel pharetra a, faucibus non turpis. Morbi tempus metus nulla, ac tempor enim pretium at. Nullam odio lorem, molestie in lectus id, posuere facilisis magna.</p>

  <p>Vivamus molestie vitae sem eget dictum. Fusce aliquet nisi ac vehicula fringilla. Sed tincidunt, leo sit amet aliquam tincidunt, nisl dolor scelerisque sapien, at dictum enim magna non felis. Nulla facilisi. Sed a tempor lorem. Vivamus malesuada diam at ultrices malesuada. Curabitur imperdiet congue dui in porta. Mauris eu arcu id arcu tincidunt bibendum. Cras sodales velit nec quam scelerisque sodales. Maecenas semper turpis nec odio pellentesque finibus. Vivamus porttitor aliquam eros, vel pharetra orci aliquet ac. Aliquam mattis lectus sed dui cursus vestibulum. Curabitur dignissim quam tellus, eget egestas quam mattis eget. Curabitur at urna justo. Etiam risus magna, scelerisque at vestibulum a, iaculis vitae diam.</p>
  <a href="#header">Back to the top</a>
</section>

<hr>

<section class="second-section" id="my-favorite-video">
  <h3>My favorite video</h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/zLAhRiUeJ8E" frameborder="0" allowfullscreen>
    </iframe>
  <br></br>
  <a href="#header">Back to the top</a>
</section>

<hr>

<section id="projects">
  <h3>Projects done</h3>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Blumenstilleben.jpg/220px-Blumenstilleben.jpg"></img>
  <ul>
    <li>Operators and Variables</li>
    <li>Strings, Arrays and Hashes</li>
    <li>Classes and inheritance</li>
  </ul>
  <a id="link" href="https://github.com/ruby-stars" target="_blank">Our Github Page</a>
  <br></br>
  <a href="#header">Back to the top</a>
</section>

<hr>

<section class="second-section" id="contact">
  <h3>Contact</h3>
  <img src="http://hoogsteder.com/oldmaster/wp-content/uploads/2014/04/Ruysch-3.jpg"></img>
  <p>You can find me every Tuesday from 7 to 9 PM at the Contentful office, where RailsGirls meeting is</p>
  <p>You can find me on slack <code>@jules</code></p>
  <a href="#header">Back to the top</a>
</section>

<hr>

<section id="greetings">
  <h3>Greetings</h3>
  <img src="https://s-media-cache-ak0.pinimg.com/originals/b3/c0/41/b3c041efe71d86804a37a21b1e42c6d4.jpg"></img>
  <p>If you want to e-mail me, you can do it via the RailsGirls Slack :)</p>
  <a href="#header">Back to the top</a>
</section>
