body {
  background-color: white;}

.top-section {
  width: 400px;
  border: 1px solid black;
}

.top-section h1 {
  font-size: 20px;
  color: black;
  background-color: blue;

}

.top-section p {
  text-align: center;
  border: 1px solid red;
}

.content {
  color: black;
}

section {
  font-family: 'Menlo';
}

section p {
  font-size: 10px;
}

section.second-section {
  background-color: #9eb2d1;
}

a {
  color: red;
}

a:hover {
  color: blue;
  text-transform: uppercase;
}

a:visited {
  color: pink;
}

img {
  height: 200px;
  border: 10px solid #4B6219;
}

#link {
  color: black;
}

#link:hover {
  color: blue;
}

#link:visited {
  color: yellow;
}

iframe {
  border: 10px solid #4B6219;
}
